/* main > :nth-child(3n) {
    background: pink;
}

main > :nth-child(even) {
    background: purple;
} */

main > :first-child {
    background: red;
}

main > :last-child {
    background: royalblue;
}