.box1 {
    background: orange;
    width: 100px;
    height: 100px;
    
}

.box2 {
    background: skyblue;
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    box-sizing: border-box;
}

.box3 {
    background: tomato;
    width: 100px;
    height: 100px;
    
}


