.box1 {
    background: orange;
    width: 100px;
    height: 100px;
}

.box2 {
    background: skyblue;
    width: 100px;
    height: 100px;
    /* position: static; */
    /* position: relative; */
    /* ↑staticの位置からみて、場所が移動する */
    position: fixed;
    /* ↑windowの左上が起点となる */
    /* 通常の配置から外れるので、続く要素がつめられる */
    top: 30px;
    left: 30px;
}

.box3 {
    background: tomato;
    width: 100px;
    height: 100px;
}


